n8n/backup/workflows/arkVyCzgqQGfpjn4.json
{"updatedAt":"2025-12-11T07:00:25.081Z","createdAt":"2025-12-11T03:29:51.887Z","id":"arkVyCzgqQGfpjn4","name":"Diagnostic Agent","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"LT-01","responseMode":"streaming","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[128,320],"id":"1d22ac46-a55f-410f-9822-25cd4caed5a1","name":"Webhook","webhookId":"f1419530-17a9-4d8d-aac9-aa0aaeaf0e42"},{"parameters":{"contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[608,560],"id":"beef8337-7cb1-453c-b06d-0a1b955a68b6","name":"Simple Memory"},{"parameters":{"content":"## LT Orchestrator","height":589,"width":1452},"id":"4b95bed5-12cd-4092-a4f1-846b9ede8b9d","name":"Sticky Note24","type":"n8n-nodes-base.stickyNote","position":[-96,176],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"881e8fbf-2862-4e6c-baf4-60bf98a2c75d","name":"sessionId","value":"={{ $('Webhook').item.json.body.chat_id }}","type":"string"},{"id":"291c2eb6-f9a2-4d13-9416-c2ea3b8b41a5","name":"messages","value":"={{ $('Webhook').item.json.body.messages }}","type":"string"},{"id":"0f8f8cf5-cc89-4f2d-ad6f-4c061485d5e0","name":"currentMessage","value":"={{ $('Webhook').item.json.body.currentMessage }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[336,320],"id":"519c4dd0-99ba-44e7-a022-a708da2936ac","name":"Edit Fields"},{"parameters":{"model":{"__rl":true,"value":"ministral-3:14b-instruct-2512-q8_0","mode":"list","cachedResultName":"ministral-3:14b-instruct-2512-q8_0"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[448,560],"id":"c0311ef5-ead5-4e40-b8f0-bd76a1613d3c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"JCTxCFKCLa7DIMEF","name":"OpenAi account"}}},{"parameters":{"model":"openai/gpt-5.1-codex","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[240,560],"id":"58cb5547-b01b-4985-9b34-62187dd86ce3","name":"OpenRouter Chat Model"},{"parameters":{"promptType":"define","text":"={{ $json.currentMessage }}","needsFallback":true,"options":{"systemMessage":"=You are a expert classifier, you take statements and classify them based on 12 different styles.\n\n## Rules:\n- A statement can match more than one style\n","returnIntermediateSteps":true,"enableStreaming":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[496,320],"id":"daae4298-39ac-4857-8d0f-de5312c5e052","name":"Diagnostic Agent"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Diagnostic Agent","type":"ai_memory","index":0}]]},"Edit Fields":{"main":[[{"node":"Diagnostic Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Diagnostic Agent","type":"ai_languageModel","index":1}]]},"OpenRouter Chat Model":{"ai_languageModel":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n:5678","content-type":"application/json","accept":"*/*","accept-encoding":"gzip, deflate, br","user-agent":"Python/3.11 aiohttp/3.12.15","content-length":"783"},"params":{},"query":{},"body":{"systemPrompt":"","messages":[{"role":"user","content":"How can I review proposals?"},{"role":"assistant","content":"You can review proposals by visiting the Proposal Review Dashboard. Here is the link to the system:\n\n[Proposal Review Dashboard](http://192.168.1.171:3002/proposal-review.html)\n\nThis dashboard will allow you to access and review the proposals. If you need further assistance, feel free to ask!"},{"role":"user","content":"Who is jess?"}],"currentMessage":"What fabric did we order from laguna fabrics? and who is jess?","user_id":"71e00669-2e61-4dce-87b6-915e94be9247","user_email":"fjompis96@gmail.com","user_name":"Felix","user_role":"admin","chat_id":"8f6482d5-e092-402b-a953-f885e8429e20","message_id":"da372459-2289-4511-9892-23618a5cf273","chatInput":"Great thank you"},"webhookUrl":"http://localhost:5678/webhook/LT-01","executionMode":"production"}}]},"versionId":"6584b04f-9728-4d00-8a2e-e5751eb52f27","activeVersionId":null,"versionCounter":4,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-11T03:29:51.887Z","createdAt":"2025-12-11T03:29:51.887Z","role":"workflow:owner","workflowId":"arkVyCzgqQGfpjn4","projectId":"sNUnUcR9bAFlLuRc","project":{"updatedAt":"2025-12-11T02:02:56.810Z","createdAt":"2025-12-11T01:27:49.888Z","id":"sNUnUcR9bAFlLuRc","name":"demo admin <admin@source.code>","type":"personal","icon":null,"description":null}}]}